/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h2, h3, h4 {
  font-family: Poppins;
}

h1 {
    display: block;
    font-weight: bold;
    color: white


;
}

h2 {
  color:#34BA6E ;
}

a {
  text-decoration: none;
}

/* Custom design below! */


.banner {
    background-image: url(../images/terraindetennis.jpg);
    background-size: cover;
    background-position: center;
    padding: 200px 0;
  }

.banner p {
    color: white;
    opacity: .7;
    font-size: 20px;
}

.container {
    width: 900px;
    margin: auto;
}
.btn-primary {
    display: inline-block;
    background-color: #1EDD88;
    padding: 16px 36px;
    border-radius: 50px;
    color: white;
    transition: background 0.8s ease;
}

.btn-primary:hover {
    opacity: 1;
    background: #3ac162;
    text-decoration: none;
    color: white;
    }

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}


.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.card {
    width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(230,230,230);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(230,230,230);
}

.card img {
  width: 100%
}

div {
    display: block;
}


.footer {
    text-align: center;
    padding: 60px;
    background-color: #7fce7f
;
}


.fab {
    font-family: "Font Awesome 5 Brands";
}
.fa-fw {
    text-align: center;
    width: 1.25em;
}
.fa, .fab, .fal, .far, .fas {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-instagram:before {
    content: "\f16d";
}
.footer a {
    font-size: 30px;
    color: white;
}

.footer p {
    color: white;
}
